<!--HTML形式のメールテンプレート-->
<h5>kokororoom 回答の内容</h5>

<p>--------------------------</p>

<p>回答者：<%= @advice.member.name %>さん</p>

<p>回答の内容：<%= @advice.body %></p>

<p>--------------------------</p>

<p>悩み事の内容：<%= @advice.problem.body %></p>

<p>==========================</p>

<p>kokororoom：<%= link_to 'kokororoom', root_url %></p>

<p>==========================</p>