<!--ページタイトルの指定-->
<% content_for :title do %>
  サイトについて | kokoro room
<% end %>

<div class="container my-5 pb-5">

<nav class="border bg-light rounded pt-3 pl-5">
  <ul>
    <li><a href="#how">投稿の流れ</a></li>
    <li><a href="#rule">利用においてのルール</a></li>
    <li><a href="#question">よくあるご質問</a></li>
  </ul>
</nav>

<div id="how"><h2 class="w-50 mt-5 mark text-center rounded">投稿の流れ</h2></div>
  <div>
    <%= image_tag 'flow.png' %>
  </div>

<div id="rule"><h2 class="w-50 mt-5 mark text-center rounded">利用においてのルール</h2></div>
  <p class="pt-3">皆さまに快適にサービスをご利用いただくため、kokoro roomでは以下の項目を禁止しております。</p>

  <div class="acmenu">
    <dt>１.悩み事でない内容（参考書の問題が分からない等の内容を含む）の投稿(クリックで開閉）</dt>
    <dd>
      心や生活に関する悩み事を解決するためのサイトとなっております。<br />
      悩み事以外の内容の投稿はお控えください。
    </dd>

    <dt>２.誹謗中傷や他人を傷付ける内容、及び不快にさせる内容の投稿(クリックで開閉）</dt>
    <dd>
      投稿例<br />
      内容：くだらない悩み事ですね。質問する意味が分かりません。<br />
      ※投稿者は本当に解決したいと思い、投稿しているかもしれません。
    </dd>

    <dt>３.個人情報に関する内容、プライバシーの侵害になり得る内容の投稿(クリックで開閉）</dt>
    <dd>
      投稿例<br />
      内容：上司の◯◯部長からのパワハラがひどく、会社に行くのが苦痛で仕方ありません。<br />
      ※個人情報の公開は発覚した場合、民事上の責任を追及されることもあるためお控えください。
    </dd>

    <dt>４.勧誘や連絡先交換を強いるような内容の投稿(クリックで開閉）</dt>
    <dd>
      投稿例<br />
      内容：LINEのIDを教えてください。<br />
      ※トラブル防止の観点から禁止としております。
    </dd>

    <dt>５.その他管理者側が不適切だと判断できる内容の投稿(クリックで開閉）</dt>
    <dd>
      トップページにも記載の通り、当サイトは悩み事を解決するための場所です。<br />
      皆さまが気持ち良く使えるサービスの利用をお願いいたします。
    </dd>
  </div>

  <p class="pt-3 text-danger lead"><i class="fas fa-exclamation-triangle"></i> 違反が見受けられた場合、管理者側から違反者のサービスの利用を停止させて頂きます。</p>

<div id="question"><h2 class="w-50 mt-5 mark text-center rounded">よくあるご質問</h2></div>

  <div class="acmenu">
    <dt>Q1 会員登録しなくてもサイトの利用、閲覧は可能ですか?</dt>
    <dd>
      会員登録せずにご利用いただけます（ゲストログイン）。<br />
      ゲストログインはあくまでサイトの概要を知っていただくためのものです。<br />
      今後もご利用いただく場合は会員登録をお勧めいたします。<br />
      （ゲストログインではマイページ等ご利用いただけないサービスもございます。）
    </dd>

    <dt>Q2 会員登録には何が必要ですか？</dt>
    <dd>
      「ニックネーム」、「メールアドレス」、「パスワード」の３点が必要となっております。
    </dd>

    <dt>Q3 利用において料金はかかりますか?</dt>
    <dd>全て無料でご利用いただけます。</dd>

    <dt>Q4 匿名での利用なので心無い言葉を言われたりしないか心配です。</dt>
    <dd>
      当サイトは管理者がユーザーの投稿を定期的にチェックしております。<br />
      不適切な投稿が見受けられれば、こちらからユーザーの利用を停止いたします。<br />
      万が一不適切な投稿を受けた場合は、<%= link_to 'お問い合わせフォーム', new_contacts_path %>からご連絡ください。<br />
      管理者側で確認を行い、対応いたします。
    </dd>

    <dt>Q5 誤って退会してしまったのでアカウントの復旧をお願いします。</dt>
    <dd>
      <%= link_to 'お問い合わせフォーム', new_contacts_path %>からご登録済みの情報（ニックネーム、メールアドレス）、アカウント復旧の旨をお送りください。<br />
      確認の後、お送りいただいたメールアドレスにご連絡いたします。
    </dd>
  </div>

<%= render 'layouts/back' %>

</div>