<h1>kokoro roomとは?</h1>
<p>
  kokoro roomは一人では解決することが難しい悩みをお持ちの方や<br>
  周囲に悩みを相談することにためらいがある方のためのオンラインお悩み相談所です。<br>
  完全会員制ですので、安心してご利用いただけます。
</p>

<h2>よくあるご質問</h2>

<h4>Q1</h4>
<p>会員制ですが会員登録しなくてもサイトの閲覧は可能ですか?</p>

<h4>Answer</h4>
<p>
  当サイトは完全会員制ですのでサイトの利用、閲覧共に会員登録が必須となっております。<br>
  会員登録時は「ニックネーム」、「メールアドレス」、「パスワード」の３点が必要となっております。
</p>

<h4>Q2</h4>
<p>利用において料金はかかりますか?</p>

<h4>Answer</h4>
<p>全て無料でご利用いただけます。</p>

<h4>Q3</h4>
<p>匿名での利用なので心無い言葉を言われたりしないか心配です。</p>

<h4>Answer</h4>
<p>
  当サイトは管理人がユーザーの投稿や回答を定期的にチェックしております。<br>
  不適切な発言が見受けられれば、こちらからユーザーの利用を停止いたします。
</p>