<!--ページタイトルの指定-->
<% content_for :title do %>
  退会手続き | kokoro room
<% end %>

<div class="container">

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded">退会手続き</h2>
    </div>
  </div>

  <div class="row pl-5">
    <p class="text-center pl-5">
      退会手続きをされますと、全サービスが利用出来なくなります。<br>
      退会する場合は、「退会する」をクリックして下さい。
    </p>
  </div>

  <div class="row pl-5">
    <div class="col-3 ml-5">
      <%= link_to root_path, class:"btn btn-primary" do %>
        <i class="fas fa-door-closed"></i> 退会しない
      <% end %>
    </div>

    <div class="col-3">
      <%= link_to members_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか?", class:"btn btn-danger" do %>
        <i class="fas fa-door-open"></i> 退会する
      <% end %>
    </div>
  </div>

</div>