<!--HTML形式のメールテンプレート-->
<h5>kokororoom お問い合わせ内容</h5>

<p>--------------------------</p>

<p>お名前：<%= @contact.name %></p>

<p>メールアドレス：<%= @contact.email %></p>

<p>お問い合わせ内容：<%= @contact.body %></p>

<p>--------------------------</p>