/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fdede4;
  background-image: image-url("hoge.jpg");
}

.logo{
  width: 100px;
  height: 50px;
  border-radius: 75%;
}

a:hover{
  text-decoration: none;
}

#slide{
  width: 100%;
  height: 40vw;
  object-fit: cover;
}

.acmenu{
  margin-left: 30px;
}

.acmenu dt{
  display: block;
  cursor: pointer;
  margin-top: 20px;
}

.acmenu dd{
  display: none;
}

.form{
  display: contents;
  height: auto;
}