/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// bootstrap導入のための記述
 @import "bootstrap";
// fontawesome導入のための記述
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// 全体の余白等のリセット
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 全ページの背景色を指定
body{
  background-color: #fdede4;
}

// ヘッダーのロゴのcss
.logo{
  width: 100px;
  height: 50px;
  border-radius: 75%;
}

// リンク選択時の下線を消去
a:hover{
  text-decoration: none;
}

// サクセスメッセージとエラーメッセージによるレイアウト崩れの防止
.form{
  display: contents;
  height: auto;
}

// ページャのデザイン
.pagination>li>a{
  border: none;
  color: #696969;
}

// ページ番号のデザイン
.pagination>.active>a{
  background: #93c9ff;
  border-radius: 50px;
}

// ホバー時のデザイン
.pagination>li>a:hover{
  border-radius: 50px;
}